@import "tailwindcss";

@theme {
  /* Colors */
  /* --color-deep-blue: #04223b;
    --color-cloudy-gray: #626973;
    --color-cobalt-gray: #d4dddc;
    --color-pre-white: #efefef;
    --color-black: #0d0d0d; */

  --color-dark-blue: #101828;
  --color-blue: #0092b8;

  --font-space-grotesk: var(--font-space-grotesk);
}

@layer base {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: var(--font-space-grotesk);
  }
}

@layer components {
}

@layer utilities {
  .navbar-link {
    @apply block py-2 px-3 text-gray-600 rounded-sm  md:hover:bg-transparent md:border-0 md:p-0 max-md:hover:text-white;
  }

  .responsive-container {
    @apply px-4 mx-auto max-w-screen-xl;
  }
}
